@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

body {
    font-family: 'Almendra SC', cursive;
    background-color: #f8f4e3;
    color: #4d2e0a;
}

.hero-div {
    background-color: rgba(210, 180, 140, 0.618);
    border: 5px solid #8b4513;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Almendra SC', serif;
}

.hero-div h1 {
    font-family: 'Almendra SC', serif;
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px #8b4513;
}

.hero-div h3 {
    font-family: 'Almendra SC', serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px #8b4513;
}

.button-container {
    background-color: #8b4513 !important;
    border: none !important;
    color: white !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block!important;
    font-size: 1rem !important;
    margin: 10px 5px !important;
    transition-duration: 0.2s !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
    font-family: 'Almendra SC', serif !important;
}

.button-container:hover {
    transform: scale(1.05) !important;
    background-color: #391d0b !important;
}

.button-container a {
    text-decoration: none !important;
}

.button-container-bad {
    background-color: #484644 !important;
    border: none !important;
    color: white !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 1rem !important;
    margin: 10px 5px !important;
    transition-duration: 0.2s !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
    font-family: 'Almendra SC', serif !important;
}

.button-container-bad:hover {
    transform: scale(1.05) !important;
    background-color: #19120d !important;
}

.button-container-bad a {
    text-decoration: none !important;
}

.western-message {
    font-family: 'Almendra SC', serif;
    color: #000000;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #000;
    margin-top: 15px;
    display: block;
}

.table-western {
    .table-western {
        background-color: transparent;
        /* Asegúrate de que el fondo sea transparente */
        border-collapse: collapse;
        /* Elimina los espacios entre celdas si es necesario */
    }

    margin-top: 20px;
    font-family: 'Almendra SC',
    serif;
}

/* Estilos para las celdas */
.table-western th,
.table-western td {
    text-align: center;
    background-color: transparent;
    /* Alineación del texto */
    padding: 10px;
    /* Espaciado interno */
    border: none;
    /* Sin bordes en las celdas */
    font-family: 'Almendra SC', serif;
}

/* Estilos para los encabezados */
.table-western th {
    background-color: #8b4513;
    /* Color de fondo para los encabezados */
    color: rgb(255, 255, 255);
    /* Color del texto */
}


.button-container .btn {
    background-color: #8b4513;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family: 'Almendra SC', serif;
}

.button-container .btn:hover {
    background-color: #5c3317;
    color: rgb(255, 255, 255);
}

.image-button {
    background-size: contain;
    background-position: center;
    background-image: url('../../../public/revolver.png');
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-family: 'Almendra SC', serif;
}

.image-button:hover {
    opacity: 0.8;
    transform: scale(1.10);
    transition-duration: 300ms;
}

.transparent-navbar {
    background-color: transparent !important;
    font-family: 'Almendra SC', serif;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Almendra SC', serif;
}

.pagination Button {
    margin: 0 5px;
    font-family: 'Almendra SC', serif;
}

.western-navbar {
    background-color: #4d3a2c;
    /* Marrón oscuro */
    border-bottom: 4px solid #4B2E00;
    /* Borde inferior oscuro */
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.western-navbar-brand {
    font-family: 'Almendra SC', serif;
    font-size: 2rem;
    color: #FFD700;
    text-shadow: 2px 2px 2px #000;
}

.western-navlink {
    font-family: 'Almendra SC', serif;
    font-size: 1.2rem;
    color: #FFD700;
    text-transform: uppercase;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.western-navlink:hover {
    color: #FFA500;
    text-shadow: 1px 1px 2px #000;
}

.western-navbar-text {
    font-family: 'Almendra SC', serif;
    font-size: 1.2rem;
    color: #FFD700;
    text-shadow: 1px 1px 2px #000;
    margin-left: auto;
    padding-right: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.western-form-container2 {
    font-family: 'Almendra SC', serif;
    color: #4d2e0a;
    /* Un color marrón oscuro para el texto */
}


.western-form-container2 label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #4d2e0a;
    text-shadow: 1px 1px 2px #000;
    font-family: 'Almendra SC', serif;
}

.western-form-container2 input {
    font-family: 'Almendra SC', serif;
    font-size: 1rem;
    padding: 8px;
    border: 2px solid #8b4513;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #fdfdfd;
}

.western-form-container2 .options-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.western-button {
    font-family: 'Almendra SC', serif;
}

thead.entrada-tabla {
    position: absolute; /* Para que esté en la parte superior */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    background-color: transparent; /* Asegura que el fondo sea transparente */
    margin-top: 10px; /* Espacio adicional en la parte superior */
    padding: 10px 0; /* Espaciado interno */
}